@font-face {
    font-family: 'Exo 2';
    src: url('../fonts/Exo2-Regular.woff2') format('woff2'),
        url('../fonts/Exo2-Regular.woff') format('woff');
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #f9f7fd;
  transition-duration: 0.3s;
}

body {
  background: #282828;
  font-family: 'Exo 2';
  letter-spacing: 0.3px;
  line-height: 1.7rem;
}

#container {
  color: #ebddb2;
  max-width: 720px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

#resume {
  float: right;
  margin: 15px;
  text-align: left;
}

#resume li, #footer-list li{
  list-style: none;
  display: inline-block;
  margin: 5px;
}

#resume a, #footer-list a {
  color: #427b28;
}

#resume a:hover, #footer-list a:hover {
  color: #b8bb28;
}

#imad {
  font-weight: 300;
  color: #af3a03;
}

section {
  clear: right;
}

#main-para{
  margin-top: 30px;
  font-size: 18px;
  max-width: 720px;
}

#stack {
  margin-top: 10px;
  margin-left: 20px;
}

#stack a {
  color: #ebddb2;
}

#stack li a:hover {
  color: #a89984;
}

footer {
  text-align: center;
  margin-top: 50px;
}
