* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #f9f7fd;
  transition-duration: 0.3s;
}

body {
  background: #222222;
  font-family: 'lato', sans-serif;
  line-height: 1.7rem;
}

#container {
  color: #f9f7fd;
  max-width: 720px;
  margin: 0 auto;
  padding: 105px;
}

#resume {
  float: right;
  margin: 15px;
  text-align: left;
}

#resume li, #footer-list li{
  list-style: none;
  display: inline-block;
  margin: 5px;
}

#resume a, #footer-list a {
  color: #427b28;
}

#resume a:hover, #footerList a:hover {
  color: #b8bb28;
}

#imad {
  font-weight: 700;
  color: #af3a03;
}

section {
  clear: right;
  font-weight: 300;
}

#main-para{
  margin-top: 30px;
  font-style: italic;
  font-size: 18px;
  max-width: 720px;
}

#mainHeading {
  font-weight: 100;
}

#stack {
  margin-top: 10px;
  font-weight: 300;
  margin-left: 20px;
}

#stack li a:hover {
  color: #fb4934;
}

footer {
  text-align: center;
  margin-top: 50px;
}
