:root {
  --dark_cyan: #0f1d2b;
  --cyan: #0390af;
  --light_cyan: #07cbf5;
  --white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: content-box;
}

a,
a:visited,
a:active,
a:focus,
a:hover {
  color: var(--cyan);
  text-decoration: none;
  font-weight: 500;
}

#container {
  background-color: var(--dark_cyan);
  width: 100%;
  font-family: "Poppins", sans-serif;
  color: var(--white);
}

/* Header Starts Here */
header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 30px;
}

.fullstack {
  color: var(--cyan);
}

#header_nav ul li {
  list-style: none;
  display: inline-block;
  margin: 5px;
}

#header_nav ul li a:hover {
  color: var(--light_cyan);
}

#header_nav ul li:last-child a {
  color: var(--light_cyan);
  font-weight: bolder;
}

/* Header Ends Here */

/* Hero Section */
#main_section {
  width: 65%;
  display: flex;
  margin-top: 50px !important;
  align-items: center;
  justify-content: space-between;
  margin: auto;
}

#greetings {
  margin: 20px 0;
}

.cyan {
  color: var(--cyan);
}

#main_content {
  width: 60%;
  display: flex;
  font-size: 18px;
  margin-top: 60px;
  flex-direction: column;
}

.main_social_links {
  margin-top: 80px;
}

.main_social_links a img {
  width: 30px;
  margin: 3px;
}

.my_pic img {
  border-radius: 20px;
}

/* Hero Section Ends Here */

.skills {
  width: 40%;
  margin: 0 auto;
  margin-top: 100px;
}

.skills h2 {
  text-align: center;
  margin: 40px 0;
}

/* Skills End Here  */

/* Subsequent Sections Start Here */
.section {
  width: 65%;
  display: flex;
  flex-direction: column;
  margin: auto;
}

#section_wrapper {
  display: flex;
  margin-top: 30px;
  flex-direction: row;
}

.section h2 {
  margin-top: 40px;
  text-align: center;
}

.card p:last-child {
  padding-bottom: 20px;
}
.card {
  border: 1px solid var(--cyan);
  padding: 10px;
  text-align: center;
  margin: 20px;
  border-radius: 30px;
}

.card p,
.card h3 {
  margin: 30px 30px 0px 30px;
}

.card ul {
  margin-top: 20px;
}

.card ul li {
  text-align: left;
  width: 80%;
  list-style: none;
  margin: 20px auto;
}

/* Testimonials Section Starts Here */

.testimonials {
  width: 60%;
  height: auto;
  text-align: center;
  margin: 0 auto;
  margin-top: 50px;
}

#review {
  margin-top: 60px;
}

.testimonials_content {
  margin-top: 20px;
  width: 80%;
  margin: 20px auto;
}

/* Testimonials Section Starts Here */

footer {
  width: 50%;
  display: flex;
  margin: auto;
  text-align: center;
  margin-top: 30px;
  flex-direction: column;
  padding-bottom: 40px;
}

footer .links ul li {
  display: inline-block;
  margin: 5px;
  text-align: center;
}

@media screen and (max-width: 1570px) {
  header {
    justify-content: space-between;
    padding: 30px 80px;
  }
  .section,
  #main_section {
    width: 80%;
  }
}

@media screen and (max-width: 1160px) {
  header {
    justify-content: space-between;
    padding: 30px 60px;
  }
  .section,
  #main_section {
    width: 90%;
  }
}

@media screen and (max-width: 1060px) {
  .skills {
    width: 75%;
    margin: auto;
  }
  #section_wrapper {
    width: 90%;
    display: flex;
    margin: auto;
    flex-direction: column;
  }
}

@media screen and (max-width: 730px) {
  #header_nav ul li {
    display: none;
  }
  header {
    padding: 30px 40px;
  }
  .main_social_links {
    margin-top: 40px;
  }

  #header_nav ul li:last-child {
    display: inline-block;
  }

  #main_section {
    flex-direction: column-reverse;
  }

  #main_content {
    width: 90%;
    font-size: 16px;
  }

  #section_wrapper {
    width: 95%;
    margin: 10px;
  }

  .testimonials {
    width: 80%;
    font-size: 14;
  }

  .testimonials_content {
    width: 100%;
    text-align: left;
  }

  footer {
    width: 90%;
  }
}

@media screen and (max-width: 400px) {
  #section_wrapper,
  .card {
    margin: 10px 0;
    padding: 5px;
  }

  .card p {
    text-align: left;
  }
}
